@font-face {
  font-family: 'digital-7';
  src: url('fonts/digital-7.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'golos';
  src: url('fonts/golos.ttf');
  font-weight: normal;
  font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 10px;  
  width: 100%;
  overflow: none;
  justify-content: center;
  font-family: golos, BigTimer, open-sans;
}

@media only screen and (max-width: 730px) {
  body {
    font-size: 14px;
  }
  #message {
    font-size: 5rem;
  }
  #main {
    font-size: 3rem;
  }
  #separator {
    font-size: 2.5rem;
  }
  #menu button {
    font-size: 1.5rem;
  }
  #textOver {
    font-size: 3rem;
    padding-left: 0px;
  }
  #time {
    font-size: 6rem;
  }
  #textOver th {
    font-size: 1.5rem;
  }
  .button {
    padding: 10px 20px;
    font-size: 100%;
    background-color: white;
    color: black;
    width: 10rem;
    border: none;
    border-radius: 0.8rem;
    margin: 1.3rem;
    cursor: pointer;
    font-family: golos, raleway;
  }
  .controls {
    flex-direction: column;
    text-align: center;
  }
  .inputs {
    max-width: 4rem;
  }
  .inputs input {
    border-radius: 0.8rem;
  }
}
@media only screen and (max-width: 390px) {
  #time {
    font-size: 4rem;
  }
  #message {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 731px) {
  body {
    font-size: 16px;
  }
  #message {
    font-size: 7rem;
  }
  #main {
    font-size: 5rem;
  }
  #separator {
    font-size: 4rem;
  }
  #menu button {
    font-size: 2rem;
  }
  #textOver th {
    font-size: 2rem;
  }
  #time {
    font-size: 9rem;
  }
  #textOver th {
    font-size: 2rem;
  }
  .controls {
    display: flex;
    justify-content: center;
  }
  .button {
    padding: 10px 20px;
    font-size: 4rem;
    background-color: white;
    color: black;
    width: 20rem;
    border: none;
    border-radius: 0.8rem;
    margin: 1.3rem;
    cursor: pointer;
    font-family: golos, raleway;
  }
  .inputs input {
    border-radius: 1.2rem;
  }
}

.controls {
  padding: 1rem 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
#textOver {
  text-align: center;
  color: rgb(218, 218, 218)
}
#menu {
  background-color: rgb(0, 0, 0);
  overflow: visible;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: block;
  color: rgb(218, 218, 218);
  overflow: hidden;
}
#main {
  justify-content: center;
  height: 100%;
  margin-bottom: 0rem;
}
#message {
  text-align: center;
  margin-top: 11rem;
  font-weight: bold;
}
#separator {
  position: relative;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 0.6rem;
  color: rgb(218, 218, 218);
  align-items: center;
  text-align: center;
  font-family: golos, BigTimer, opensans;
}
#min_input_work,
#sec_input_work,
#min_input_chill,
#sec_input_chill {
  text-align: center;
  min-width: 5rem;
}
#mode_work {
  text-align: center;
  color:rgb(247, 67, 73)
}
#mode_chill {
  text-align: center;
  color:rgb(45, 98, 255)
}

#repLeft {
  text-align: center;
  color:rgb(218, 218, 218)
}
#rep_input {
  text-align: center;
  width: 10ch;
}

#menu button {
  font-size: 1.7rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: calc(100%/2);
  outline: none;
  color: rgb(218, 218, 218);
  background-color: transparent;
  transition: background-color 0.3s;
}

#menu button:hover {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}

#menu button#selected {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}

table {
  margin:0 auto ;
  text-align: center;
}
td {
  height: auto;
}
th {
  padding: 0;
  padding-top: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
}

#time {
  color: rgb(255, 252, 242);
  align-items: center;
  text-align: center;
  font-family: open-sans, BigTimer, Arial;
  margin-bottom: 0.5rem;
  margin-top: 9rem;
}

.inputs {
  align-items: center;
  
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
}
td.inputs {
  padding: 0;
  /* height: auto; */
}
tr.inputs {
  height: auto;
}
td.sec,
td.min {
  width: 10rem;
}
.inputs input::placeholder {
  color:rgb(218, 218, 218);
}
.inputs input {
    text-align: center;
    font-size: 60%;
    color: rgb(218, 218, 218);
    align-items: center;
    background-color: rgb(26, 26, 26);
    border: solid 0.2rem rgb(45, 98, 255);
}
.inputs input:focus-visible {
  border: solid 0.2rem rgb(218, 218, 218);
  outline: none;
  background-color: rgb(218, 218, 218);
  color:rgb(0, 0, 0);
}

#start {
  border: solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(218, 218, 218);e
}
#start:hover {
    background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: solid rgb(45, 98, 255);
  transition: color 0.3s;
}

#reset {
    background-color: rgb(0, 0, 0);
  border: solid rgb(0, 0, 0);
  color: rgb(218, 218, 218);
}
#reset:hover {
    background-color: rgb(0, 0, 0);
  border: solid rgb(247, 67, 73);
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}
